/* custom property */
:root {
	--accent-color: #800000;
	/* could also be coded #800 */
	--gradient-color: #f6bb73;

	--light_menu: white;
	--mid_menu: antiquewhite;
	--dark_menu: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(15px + .2vw);
	width: min(80%, 1024px);
	line-height: 1.5;
	margin: auto;
	border: 2px solid var(--accent-color);
}

h1,
h2,
h3,
p,
ul {
	padding: .25em 0;
}

a:hover,
a:focus {
	font-style: italic;
	color: var(--accent-color);
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
	color: var(--accent-color);
}

h3 {
	font-size: 105%;
}

ul {
	margin-left: 2em;
}

/* the styles for the header */
header {
	text-align: center;
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	background-image: linear-gradient(30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);

	& h2 {
		font-size: 175%;
		padding: .5em 0 0;
	}

	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;

		& img {
			width: clamp(40px, 15%, 80px);
			float: left;
			margin: .75em 1em;
		}
	}
}

.navbar {
	position: relative;
	background-color: var(--accent-color);
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-btn {
	font-size: 2rem;
	padding: .5em;
	color: white;
	display: block;
	cursor: pointer;
}

#menu-toggle {
	display: none;
}

.menu {
	display: none;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 100%;
	width: 40%;
	background-color: var(--accent-color);
	padding: 0;
}

.menu li a {
	display: block;
	padding: 1em;
	color: white;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	margin: 0 0 2px 0;
}

#menu-toggle:checked~.menu {
	display: block;
}

#menu-toggle:checked+.menu-btn::after {
	content: "X"
}

.submenu>a ::after {
	content: "";
}

.submenu .dropdown {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	background-color: var(--accent-color);
}


/* the styles for the main content */
main {
	display: flex;
	padding: 0 1em 1em;
	flex-direction: column-reverse;

	& blockquote {
		font-style: italic;
		padding-left: 1em;
	}
}

main h3+img {
	/* speaker images */
	width: clamp(40px, 50%, 75px);
	border: 4px double var(--accent-color);
	border-radius: 10px;
}

/* the styles for the section */
section {
	flex-basis: 75%;
	padding-left: .5em;
	border-bottom: 2px solid var(--accent-color);
}

section img {
	width: clamp(100px, 50%, 250px);
	float: right;
	margin: 0 1em .25em;
}

/* the styles for the aside */
aside {
	flex-basis: 25%;
	padding-right: .5em;
	margin-bottom: 1em;

}

/* the styles for the footer */
footer {
	background-color: var(--accent-color);

}

footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}

@media (min-width:700px) {
	main {
		flex-direction: row;
	}

	section {
		flex-basis: 75%;
		border-bottom: none;
	}

	aside {
		flex-basis: 25%;
	}
}

@media (min-width:600px) {
	.menu {
		display: flex !important;
		position: relative;
		flex-direction: row;
		width: 100%;
	}

	.menu-btn {
		display: none;
	}

	.menu li {
		position: relative;
		flex: 1;
		text-align: center;

	}

	.menu li a {
		margin: 0 1px;
		border: none;
	}

	.dropdown {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		display: none;
		background-color: var(--accent-color);

	}

	.submenu:hover .dropdown {
		display: block;
	}

	.submenu>a::after {
		content: "\25BC";
	}
}

@media (min-width: 500px) {
	header {
		text-align: left;
	}

	header img {
		display: block;
		float: left;
		margin: .75em 1em;
		width: clamp(40px, 15%, 80px)
	}
}


/* CSS class */
.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0 1em;
}

.speaker h1 {

	color: var(--accent-color);
}

.speaker h2 {
	color: black;
}

.speaker p {
	padding: .5em 0;
}

.large {
	font-size: 125%;
}


.large {
	font-size: 125%;
}

/* styles for the menu */
.menu {
	display: flex;
	flex-wrap: wrap;

	& li {
		flex-basis: 20%;
		text-align: center;
	}
}

.navbar {
	clear: left;
	background-color: var(--accent-color);
}

& a {
	display: block;
	padding: 1em;
	text-decoration: none;
	margin: 0 1px 2px;
}

& a:link,
a:visited {
	color: var(--light_menu);
}

& a:hover,
a:focus,
a.current {
	background-color: var(--mid_menu);
	color: var(--dark_menu);
}

& ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.submenu {
	position: relative;

	& small {
		margin-left: .25em;
	}
}

.dropdown {
	position: absolute;
	left: 0;
	right: 0;
	background-color: var(--accent-color);
	color: var(--light_menu);
	display: none;

	&>li a {
		margin: 0 2px 2px;
	}
}

.submenu:hover>.dropdown {
	display: block;
}

.menu>li:first-child a {
	margin-left: 0;
}

.menu>li:last-child a {
	margin-right: 0;
}